<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>icon-bubblegum</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-bubblegum</string>
				</array>
			</dict>
			<key>icon-dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-dark</string>
				</array>
			</dict>
			<key>icon-dark-blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-dark-blue</string>
				</array>
			</dict>
			<key>icon-dark-bubblegum</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-dark-bubblegum</string>
				</array>
			</dict>
			<key>icon-dark-darkred</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-dark-darkred</string>
				</array>
			</dict>
			<key>icon-dark-green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-dark-green</string>
				</array>
			</dict>
			<key>icon-dark-purple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-dark-purple</string>
				</array>
			</dict>
			<key>icon-darkred</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-darkred</string>
				</array>
			</dict>
			<key>icon-green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-green</string>
				</array>
			</dict>
			<key>icon-pink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-pink</string>
				</array>
			</dict>
			<key>icon-purple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-purple</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>Splash</string>
	</dict>
</dict>
</plist>
